@import url('https:fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  background: #eee;
  font-family: 'Roboto';
  color: #444;
  max-width: 960px;
  /*margin: 100px auto;
  padding: 10px;*/
}

#div1 {
  display: block;
  align-content: center;
  margin: 0% 20% 0% 20%;
  padding: 6px 10px;
  width: 60%;
  height: 100%;
  border: 3px solid lightgray;
  background-color: lightgray;
  font-family: 'Roboto';

}
h2 {
  font-family: 'Roboto';
  text-align: left;
  text-indent: 10px;
  color: midnightblue;
}
#joke_button {
  background: midnightblue;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px;
}

#div2 {
  width: 400px;
  border-radius: 20px;
  background: midnightblue;
  color: white;
  text-align: center;
  padding: 100px 0;
  margin: 40px auto;
}

p {
  color: midnightblue;
  margin-left: 20px;
}


