#app {
  max-width: 70v;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #404040;
}
body {
  background-color: #ccc;
  padding: 1rem;
}
/*
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 2px;
  max-width: 600px;
  max-height: 500px;
}
#navbar_buttons {
  grid-template-columns: 3/7;
  grid-template-rows: 7;
}
*/
.title {
  color: #417777;
  text-align: center;
  font-family: "Satisfy", cursive;
}

p {
  font-size: 1.3em;
}
button {
  padding: 0.5rem 1rem;
}
